:root {
    --primary-color: #FAD02C;
    --secondary-color: #282120;
    --text-color: #F8EFE4;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: var(--secondary-color);
}